.Toolbar {
  height: 3.5rem;
  position: absolute;
  top: 2.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: 90;
}

.DesktopOnly {
  background-color: #423830;
  width: 97.5vw;
  margin-left: 1.5%;
  border-radius: 5px;
  padding-right: 1.25em;
}

.Toolbar nav {
  height: 100%;}

@media (max-width: 499px) {
  .DesktopOnly {
    display: none;
  }

  .Toolbar {
    top: 0.75rem;
  }
}