.NavigationItem a{
  margin: 10px 0;
  display: block;
  width: 100%;
  color: #2e2e2d;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  font-family: 'Rye';
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
  text-decoration: underline;
}

@media(min-width: 500px) {
  .NavigationItem a{
    margin: 0;
    color: #E9B76E;
    height: 100%;
    padding: 16px 10px;
    text-decoration: none;
  }
  
  .NavigationItem a:hover,
  .NavigationItem a:active,
  .NavigationItem a.active {
    color: #e9e0d3;
    text-decoration: underline;
  }
}