.svgWrapper {
  width: inherit;
  height: inherit;
}
.AddPath {
  fill: none;
  stroke: rgba(66, 56, 48, 0.6);
  stroke-width: 25;
  margin-top: 0;
}

.AddPath:hover {
  stroke: rgba(66, 56, 48, 1);
  cursor: pointer;
}