form {
  display: flex;
  align-items: center;
}

input {
  background-color: #A08254;
  height: 1.9rem;
  border-radius: 2px;
  border-style: solid;
  border-color: transparent;
  margin-right: 0.6em;
  font-family: "Rye;"
}

button {
  background-color: #A08254;
  height: 1.9rem;
  border-radius: 2px;
  border-style: solid;
  border-color: transparent;
  margin-right: 0.6em;
  font-family: "Rye;"
}