.searchForm {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

.searchInput {
  background-color: #A08254;
  height: 1.9rem;
  border-radius: 2px;
  border-style: solid;
  border-color: transparent;
  margin-right: 0.6em;
  font-family: "Rye;"
}

.searchInput::placeholder {
  font-family: Rye;
}

.searchButton {
  background-color: #A08254;
  height: 1.9rem;
  border-radius: 2px;
  border-style: solid;
  border-color: transparent;
  margin-right: 0.6em;
  font-family: Rye;
  font-weight: 300;
  cursor: pointer;
}