.Flash {
  background-color: rgb(233, 152, 152);
  border: 1px solid rgb(221, 54, 54);
  color: rgb(100, 1, 1);
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 2vh;
  left: 25vw;
  width: 50vw;
  padding: 1rem;
  z-index: 10000
}

.messages {
  margin-right: 1em;
}

.closeButton {
  position: absolute;
  right: 1.5em;
  font-weight: 700;
}

.closeButton:hover {
  cursor: pointer;
}