.Category {
  display: inline-block;
  margin-left: 50px;
  border: none;
  border-radius: 2px;
  padding: 20px;
  text-decoration: none;
  color: #423830;
  background-image: url('../../../assets/images/wood.png');
  background-size: 20em 10em;
  padding: 0.1em;
}

.Category img {
  width: 20em;
  height: 10em;
}

.name {
  margin: 0;
  font-size: 1.5em;
  font-weight: 500;
  font-family: "Rye";
  color: #201b17;
}